# Ignore Vivado build output
*.jou
*.log
*.str
*.cache/
*.runs/
*.sim/
*.hw/
*.ip_user_files/
*.xpr
*.xpr.user
*.wcfg
*.dcp
*.ltx
*.vvp
*.vcd
*.webtalk

# for ModelSim
*work
*.mti
*.mpf
*.bak